# Data directories
data/
quali/

cleaning/old
analysis/news_events.nb.html
analysis/summary_stat_des.docx
analysis/summary_stats.nb.html
analysis/lda_analysis.nb.html
analysis/old
analysis/output

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Mac stuff
.DS_Store

Icon*
